html {
    /* Normalize REM units so that 1rem = 10px */
    font-size: 62.5%;

    /* Disallow push-color */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    /* 99 % of pages are longer than 1 page . Helps a lot on CLS (Core Web Vitals) */
    overflow-y: scroll;
}