.c-icon-icon {
  display: inline-block;
  color: inherit;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.c-icon-fill {
  fill: currentColor;
  stroke: none;
}
